@import "../../../assets/style/global.scss";

.avatar-stack-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .pfp {
        width: 60px;
        height: 60px;
        background-color: $citrus-background;

        &.small {
            width: 25px;
            height: 25px;
        }
    }

    .avatar-check {
        font-size: 10px;
    }
}

.avatar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100%;
    height: 100%;

    .avatar-toggle-icon-element {
        border: 1px solid $avatar-border-color;
        border-radius: 50%;
        margin-bottom: 1px;
        
        &.outlined{
            border: 2px solid $citrus-green;
            margin-bottom: 0px;
        }
    }
}

.avatar-icon {
    border: 2px solid gray;
}