.app {
    zoom: reset;
}

body {
    // Apparently this needs to be defined OUTSIDE of the app component in order to take effect
    height: 100vh;
    margin: 0;
    padding: 0;

    // Disable scrollbar
    &::-webkit-scrollbar {display:none;}
}