.bg-green {
    background-color: #bfd67950;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.light-text {
    color: lightgray;
}

.test-border {
    border: 2px solid red;
}